body{
  background-color: hwb(258 0% 95%);
  overflow-x: hidden;
  margin-left: 0.5rem;
}
.hero-container{
  color:white;
  text-align: center;

}
.hero-head{
 font-size: 5rem;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 display: flex;
 flex-direction: column;
 font-weight: 100;
 padding: 50;
 line-height: 1.3
}
.hero-head2{
  font-size:1.5rem ;
  padding-top: 3;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 2;
font-weight: 100;
}
.hero-btn{
  background-color:#9E6EE5;
  border-radius: 10px;
  height: 64px;
  width: 12rem;
  font-size: 1.5rem;
  color: white;
}
.ten_M-container{
  padding-top: 6rem;
}
.ten_M-container{
  position:  relative;
  
}
.ten_M-txt{
  position:  absolute;
  position: absolute; /* Make the text element absolute */
  top:68rem; /* Position the text vertically (adjust as needed) */
  left: 50%; 
  transform: translate(-50%, -50%);  
  color: white; 
  text-align: center;
  font-size: 3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;

}
.ten_M-inner-txt{
color:#FACC69 ;
}
.ten_M-txt2{
  display: flex;
}
.text-image{
 font-size: 3.4rem;
 color: white;
 
}
.image-text-container{
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
   width: 80%;
  margin-top: 7.5rem;
  display:inline-flex;
}
.image-text-comn{
  justify-content: center;
}
.text-color-gmail{
color:#FACC69;
}
.text-color-outlook{
  color:#FACC69;
}
h1{
  font-size: 4rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}
.text-image-container1{
  display: flex;
  width: 90%;
 align-items: center;
}
.text-image-contain1{
  align-items: center;
  background-color: hsl(257, 82%, 4%);
  display: ruby-text;
  padding-top: 7rem;

}
.image-button-container{
  padding-top: 8rem;
}
.div-image-conatainer{
  padding-top: 8rem;
}
.scrool-effect{
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  align-items: center;
}
.scrool-effect1{
  display: flex;
 
}
.scrool-effect2{
  display: flex;
}
.scrool-effect3{
  display: flex;
}
.scroll-effect-para{
  width: 50%;
  justify-content: center;
  display: inline-flex;
}
.scroll-effect-header{
  padding-left:3.9rem;
}

.image_wrapper8{
  height: 4rem;
 width: 8rem;
 padding: 5rem;
  
}
.image_wrapper{
width: 96rem;
}
.image_wrapper9{
 padding: 5rem;
}
.image_wrapper10{
  
 padding: 5rem;
}
.image_wrapper11{
 
 padding: 5rem;
  
}
.image_wrapper12{
 
 padding: 5rem;
  
}
.image_wrapper13{
  /* height: 40px;
 width: 20px; */
 padding: 5rem;
  
}
.image_wrapper14{
  /* height: 40px;
 width: 20px; */
 padding: 5rem;
  
}
.footers{
  display: flex;
 justify-content: space-between;
 font-weight: 100;
left: 5rem;
right: 5rem;
position: a;

}
.footer{
  background-color: rgba(31, 3, 75, 0.258);
  color: white;
  text-align: center;
  width: 89rem;
}
.footer-menu{
  display: flex;
  flex-direction: row;
}
.footer-heading{
 font-size: 3.5rem;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 50%;}
.footer-list4{
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.footer-list3{
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.footer-list2{
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.footer-list1{
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.list-items{
  list-style-type: none;
  text-align: left;
  display: inline;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  

  
}
.list-items1{
  list-style-type: none;
  text-align: left;
  display: inline;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  
}
.list-items2{
  list-style-type: none;
  text-align: left;
  display: inline;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}
.items{
  padding-top: 1rem;
}
  .list-items3{
  list-style-type: none;
  text-align: left;
  display: inline;
  display: flex;
  flex-direction: column;
  
  padding-right: 2rem;
}

.footer-down{
  justify-content: space-between;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 3rem;
  
  top: 3rem;
}

  .footer-down1 {
    display: flex; /* Enable Flexbox for horizontal layout and spacing control */
    justify-content: space-between; /* Distribute images evenly with space between them */
    width: fit-content;
    margin: 0 10px; /* Add margin for spacing around each image */
    /* OR (alternative for responsive spacing) */
    width: calc(17% - 20px);}
    .footer{
      padding-top: 15rem;
      padding-right:4.7rem;
      padding-left:2.3rem;
    }
    .border{
      border-top: solid;
      width: 84%;
      justify-content: center;
      margin-top:5rem;
      display:inline-flex;
    }
.vtn{
  padding-top: 8rem;
}
.footer{

}
@media only screen and (max-width: 698px) {
  body {
      background-color: hwb(258 0% 95%);
      /* overflow-x: hidden; */
      margin-left: 0.5rem;
    }
  .hero-head{
    align-items: center;
    margin-left: 6rem;
    font-size: 8rem;
    width: 80rem;
    padding-top: 11rem;
  }
  .hero-head1{
    width: 63rem;
  }
  .hero-head2{
   justify-content:center;
   padding-left: 20rem;
   align-items: center;
   font-size: 4.3rem;
   width: 50rem;
   height:35rem;
  }
  .hero-btn{
    width: 87%;
    height: 9rem;
  }
  .hero-btn1{
    width: 90rem;
  }
  .image_wrapper{
    padding-top: 5rem;
  }
  .ten_M-txt{
    width: max-content;
    transform: none;
    top: 130rem;
    left: 11rem;
    font-size: 5rem;
  }
  .ten_M-container{
    padding-left:8rem;

  }
  Marquee{
  width:90rem;
  ;}
  .image-text-container{
    width: 90rem;
    flex-direction: column;
    
  }
  .text-image{
    width: 83%;
    padding-top: 7rem;
    font-size: 5rem;
  }
  .text-image-container1{
    display: flex;
    flex-direction:column-reverse;
    width: 83rem;
  }
  .image-text{
    width: 68rem;
  }

  .image-text1{
    width: 100%;
  }
  .image-txt{
    width: 100%;
    margin-left: 3rem;
  }
  .text-image-header{
    padding-left: 4rem;
    font-size: 6rem;
  }
  .btn1{
    padding-right: 9rem;
  }
  .btn{
    width: 55rem;
    padding-left: 21rem;
  }
  .scrool-effect1{
    padding-left:50rem;
    justify-content:space-between;
   width: 113rem;
   display: flex;
   flex-direction: column;
  }
  .scrool-effect-text{
    width: 45rem;
    padding-left: 20rem;
  }
  .scroll-effect-para1{
    font-size: 8rem;
    width: 84rem;
  }
  .scroll-effect-para2{
    font-size: 5rem;
    padding-left: 15rem;
    width: 51rem;
  }
  .scrool-effect3{
    padding-left:50rem;
    justify-content:space-between;
    margin-left: 9rem;
    display: flex;
    flex-direction: column;
  }
  .scroll-effect-header{
    width: 73rem;
    padding-left: 12rem;
    font-size: 7rem;
  }
  .scrool-effect-text1{
    width: 90rem;
    font-size: 7rem;
  }
  .scrool-effect-text2{
    width: 64rem;
    font-size: 4rem;
    padding-left: 15rem;
  }
  #para{
    margin-left: 7rem;
    ;
  }
  .btn1-img{
    width: 67rem;
    padding-left: 22rem;
    padding-top: 3rem;
  }
  .scroll-effect-para{
    margin-left: 3rem;
    font-size: 4rem;
    width: 80rem;
  }
  .scroll-effect-2header{
    margin-left: 6rem;
    font-size: 4rem;
  }
    .image-scroll-effect{
      padding-left: 32rem;
      width: 63rem;
    }
    #image-scroll{
      padding-left: 8rem;
    }
  .vtn{
    width: 76rem;
    margin-left: 70rem;
    height: 20rem;}
    .footer{
      width: 84rem;
    }
    .headertag{
      width: 91rem;
    }
  .div-image-conatainer{
    width: 92rem;
  }
  
  } 
 @media only screen and (min-width:700px ){
  .hero-container{
    width: 93rem;
  }
  .ten_M-txt{
    width: 45rem;
    left:27rem;
    transform: none;
    /* width: 46rem;
    left: 70%; */
  }
  .div-image-conatainer{
    padding-left: 3rem;
  }
} 
/* @media only screen and (max-width: 768px) {
  html {
    zoom: 1.0;
    /* Set zoom to 100% */
  }
} */